/**
 * style.css
 * Contains CSS to make site responsive i.e. mobile and tab friendly.
 */
@media (max-width: 991px) {
    .home-heading {
        font-size: 2.2rem;
    }

    .home-desc {
        font-size: 1.35rem;
    }

    .navbar {
        padding: 0;
    }

    .btn-general {
        padding: 8px 20px;
        font-size: 10px;
    }

    .vertical-heading,
    #about-right {
        text-align: center;
    }

    .vertical-heading h2 {
        margin: 8px 0 0;
        font-size: 2.75rem;
        line-height: 35px;
    }

    .horizontal-heading h2 {
        margin: 8px 0 0;
        font-size: 2.75rem;
        line-height: 35px;
    }

    .vertical-heading h5 {
        transform: none;
        top: 0;
        left: 0;
    }

    .content-box-lg {
        padding: 100px 0;
    }

    .content-box-md {
        padding: 85px 0;
    }

    .content-box-sm {
        padding: 70px 0;
    }

    .about-item {
        padding: 50px 30px;
        margin: 15px 0;
    }

    .about-item i {
        font-size: 32px;
    }

    .about-item h3 {
        font-size: 20px;
    }

    .skill {
        margin-bottom: 20px;
    }

    .skill h4 {
        line-height: 40px;
        font-size: 16px;
    }

    .tech-statement h3 {
        line-height: 30px;
        font-size: 20px;
    }

    .tech-statement p {
        font-size: 14px;
    }

    .service {
        text-align: center;
    }

    .service .icon {
        text-align: center;
    }

    .service h3 {
        font-size: 20px;
    }

    .service-tab .tab-bg {
        text-align: center;
    }

    .service-tab h3 {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .service-tab h2 {
        font-size: 40px;
    }

    .r-tabs-anchor {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
        border: solid 0px #FFF;
        color: #5C9320;
        font-weight: 700;
        display: inline-block;
        margin-bottom: 10px;
    }

    .r-tabs-accordion-title {
        text-align: center;
    }

    .r-tabs-state-active .r-tabs-anchor {
        border-bottom: solid 3px #5C9320;
    }

    #isotope-filters button {
        padding-right: 15px;
    }

    #portfolio {
        padding-bottom: 40px;
    }

    .testimonial h2 {
        font-size: 20px;
    }

    .stars i {
        font-size: 16px;
    }

    .author-name-des {
        margin-top: 10px;
    }

    #testimonials {
        padding-bottom: 50px;
    }

    .pricing-table {
        margin-bottom: 20px;
    }

    .stats-item {
        margin-bottom: 15px;
    }

    .blog-post {
        margin-bottom: 15px;
    }

    .right {
        text-align: right;
    }

    .contact-left {
        text-align: center;
    }

    .office-details li {
        display: block;
    }

    .office-details li span {
        display: block;
    }

    .office {
        margin-bottom: 40px;
    }

    .contact-right {
        margin-top: 40px;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-header {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #testimonial-slider {
        position: static;
    }

    #portfolio {
        padding-bottom: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .service-tab .tab-bg {
        padding: 20px 30px;
        min-height: auto;
    }

    .service-tab img {
        min-height: 426px;
    }
}
