/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/**********************************************************************************
********************************* GLOBAL ******************************************
***********************************************************************************/
.myAnimate1 {
    animation-delay: 2s;
    animation-duration: 1s;
}

.myAnimate2 {
    animation-delay: 2.5s;
    animation-duration: 1s;
}

html,
body {
    height: 100%;
}

body {
    color: #212226;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #FFF;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

/**********************************************************************************
********************************* GENERAL *****************************************
***********************************************************************************/
.colored-text {
    color: #5C9320;
}

[class^="lni-"],
[class*=" lni-"] {
    display: inline-block;
}

.mt35 {
    margin-top: 35px;
}

#map {
    height: 600px;
}

/**********************************************************************************
********************************* CONTENT BOXES ***********************************
***********************************************************************************/
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 105px 0;
}

.content-box-sm {
    padding: 90px 0;
}

/**********************************************************************************
********************************* HEADER ******************************************
***********************************************************************************/
.navbar {
    padding: 25px 0 20px 0;
    transition: all .3s linear;
}

.site-nav-wrapper {
    padding: 0 30px;
}

.navbar-brand {
    padding-top: 0;
}

.navbar .navbar-nav {
    transform: translateY(50%);
}

ul.navbar-nav > li > a {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .4rem 0;
    min-width: 100px;
    text-align: center;
}

ul.navbar-nav > li > a:focus,
ul.navbar-nav > li > a:hover {
    background: none;
}

.scrolled-navbar {
    padding: 10px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top {
    background: #FFF;
}

.green-nav-top {
    background-image: linear-gradient(to right, #63C600 2%, #5C9320 82%);
}

.green-nav-top ul.navbar-nav > li.active > a {
    border-radius: 20px;
    background: #00596A;
    font-weight: 500;
}

.navbar-header {
    position: relative;
}

/**MOBILE NAV**/
#mobile-nav-open-btn {
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 6px;
}

#mobile-nav {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    transition: all .3s linear;
    overflow-y: hidden;
}

#mobile-nav-close-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: -15px;
    transition: all .3s linear;
}

#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10px;
}

#mobile-nav li {
    margin-bottom: 20px;
}

#mobile-nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
}

#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #5C9320;
    background: none;
}

.green-nav-top #mobile-nav ul.nav > li.active > a {
    color: #5C9320;
    font-weight: 500;
}

/**********************************************************************************
************************ VERTICAL / HORIZONTAL HEADING *******************************
***********************************************************************************/
.horizontal-heading {
    text-align: center;
}

.vertical-heading,
.horizontal-heading {
    margin-bottom: 35px;
}

.vertical-heading h5,
.horizontal-heading h5 {
    color: #5C9320;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
}

.vertical-heading h5 {
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -55px;
}

.horizontal-heading h5 {
    margin-bottom: 10px;
}

.vertical-heading h2,
.horizontal-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
}

.horizontal-heading h2 {
    margin: 0;
}

.vertical-heading h2 strong,
.horizontal-heading h2 strong {
    color: #5C9320;
}


/**********************************************************************************
**************************** SOCIAL ICONS **************************************
***********************************************************************************/
ul.social-list {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: solid 1px transparent;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    border-radius: 50%;
    transition: all .4s linear;
}

ul.social-list li.fb-icon a:hover {
    background: #3B5998;
}

ul.social-list li.twitter-icon a:hover {
    background: #00ACED;
}

ul.social-list li.google-plus-icon a:hover {
    background: #DD4B39;
}

/**********************************************************************************
**************************** OWL NAVS **************************************
***********************************************************************************/
.owl-theme .owl-nav [class*=owl-] {
    background: none;
    font-size: 40px;
    margin: 0;
    color: #212226;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #5C9320;
}

/**********************************************************************************
********************************* HOME ********************************************
***********************************************************************************/
#home {
    height: 100%;
    background: none;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    /* Making image as fallback*/
    background: url("../video/video.jpg") no-repeat center;
    z-index: -1;
}

.home-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.home-content {
    width: 100%;
    height: 100%;
    display: table;
}

.home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

.home-heading {
    color: #FFF;
    font-weight: 100;
    font-size: 5rem;
    text-transform: capitalize;
    margin: 0;
}

.home-heading .colored-text {
    font-weight: 500;
}

.home-desc {
    color: #FFF;
    font-weight: 100;
    font-size: 17px;
    margin: 10px 0 30px;
}

.arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #FFF;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    transform: translateX(-50%);
}

.arrow-down:hover,
.arrow-down:focus {
    color: #5C9320;
}

/**********************************************************************************
**************************** ABOUT US SECTION *************************************
***********************************************************************************/

#about-right p {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}

#about-02 {
    background: #F4F4F4;
}

.about-item {
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background: #5C9320;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

/* Smooth Transition */
.about-item,
.about-item i,
.about-item h3,
.about-item hr,
.about-item p {
    transition: all .4s ease-in-out;
}

/*Hover State*/
.about-item:hover {
    background: #5C9320;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #FFF;
}

.about-item:hover hr {
    background-color: #FFF;
}

.about-item:hover i {
    transform: translateY(-20px);
}

/**********************************************************************************
**************************** TEAM SECTION *************************************
***********************************************************************************/
.team-member {
    position: relative;
}

.team-member-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 34, 38, 0.9);
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.team-member-info {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.team-member-info h6 {
    color: #5C9320;
    font-size: 16px;
    margin: 0;
}

.team-member-info p {
    color: #FFF;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
    visibility: visible;
}

.skill {
    margin-bottom: 40px;
}

.skill h4 {
    line-height: 62px;
    margin: 0;
    font-weight: normal;
}

.progress {
    height: 12px;
    border-radius: 50px;
    background: #EFEFEF;
    overflow: visible;
}

.progress-bar {
    background-image: linear-gradient(to right, #5C9320 0%, #63C600 51%, #5C9320 100%);
    border-radius: 50px;
    position: relative;
}

.progress-bar span {
    background: #212226;
    padding: 3px;
    position: absolute;
    right: -15px;
    top: -40px;
}

.progress-bar span:before {
    content: "";
    border-top: solid 8px #212226;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 33%;
}

/**********************************************************************************
**************************** STATEMENT SECTION *************************************
***********************************************************************************/
#statement {
    background: url("../img/tech/tech-statement.jpg") no-repeat fixed center / cover;
    /* / cover wont work in safari */
    background-size: cover;
}

#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.4);
}

.tech-statement h3 {
    color: #FFF;
    width: 80%;
    font-size: 28px;
    line-height: 45px;
    margin: 0 auto;
}

.tech-statement p {
    color: #FFF;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
}

/**********************************************************************************
**************************** Services ********************************************
***********************************************************************************/
.service-main-img {
    margin: 50px 0;
}

.service {
    margin: 40px 0;
}

.service .icon {
    font-size: 42px;
    transition: all .4s linear;
}

.service:hover .icon {
    color: #5C9320;
    transform: translateX(-20px);
}

.service h5 {
    color: #5C9320;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 6px 0;
    transition: all .4s linear;
}

.service:hover h5 {
    color: #212226;
}

.service h3 {
    margin: 0 0 8px 0;
    font-size: 24px;
}

.service p {
    margin: 0;
    line-height: normal;
}

/**** RESPONSIVE TABS SECTION ***/
#services-02 {
    background: #F4F4F4;
}

#services-02 ul {
    margin-bottom: 40px;
}

#services-02 ul li {
    padding: 5px 30px;
}

#services-02 ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
    border: solid 0px #FFF;
}

#services-02 ul li.r-tabs-state-active a {
    color: #5C9320;
    font-weight: 700;
    border-bottom: solid 3px #5C9320;
    padding-bottom: 5px;
    transition: border-color .3s linear;
}

.service-tab .col-md-6 {
    padding: 0;
}

.service-tab img {
    width: 100%;
}

.service-tab .tab-bg {
    background: #FFF;
    padding: 60px 30px;
    min-height: 481px;
}

.service-tab h2 {
    font-size: 48px;
    color: #BBB;
    margin-bottom: 20px;
    font-weight: 100;
}

.service-tab h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.service-tab p {
    line-height: 24px;
    margin-bottom: 30px;
}

/**********************************************************************************
**************************** Portfolio ********************************************
***********************************************************************************/
#portfolio {
    padding-bottom: 120px;
}

#portfolio .vertical-heading {
    margin-bottom: 80px;
}

.row.no-gutters [class*=col-] {
    padding: 0;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    transition: all .5s ease;
}

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(92, 147, 32, 0.8);
    cursor: pointer;
    opacity: 0;
    transition: all .5s ease-in;
}

.portfolio-item-overlay-details {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.portfolio-item-overlay-details h3 {
    color: #F4F4F4;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    transition: all .4s linear;
    transform: translateY(-20%);
}

.portfolio-item-overlay-details span {
    display: inline-block;
    border-top: solid 1px #FFF;
    border-bottom: solid 1px #FFF;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}

.portfolio-item-overlay-details p {
    font-size: 17px;
    color: #FFF;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    transition: all .4s linear;
    transform: translateY(20%);
}

.portfolio-item:hover img {
    transform: scale(1.2);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

.portfolio-item:hover .portfolio-item-overlay-details h3 {
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay-details p {
    transform: translateY(0);
}


#isotope-filters {
    margin-bottom: 10px;
    padding: 20px 25px 20px 0;
}

#isotope-filters button {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
}

#isotope-filters button span {
    display: block;
    padding-bottom: 5px;
    transition: all .4s ease-in-out;
    border-bottom: solid 3px transparent;
}

#isotope-filters button.active span {
    border-color: #5C9320;
    color: #5C9320;
}

/**********************************************************************************
**************************** Clients **********************************************
***********************************************************************************/
#clients-elements {
    margin-top: 20px;
}

/**********************************************************************************
**************************** Testimonials *****************************************
***********************************************************************************/
#testimonials {
    background: #F4F4F4;
    overflow: visible;
    padding-bottom: 120px;
}

#testimonials .vertical-heading {
    padding-top: 75px;
}

#testimonial-slider {
    position: absolute;
    top: -120px;
    background: #5C9320;
}

.testimonial {
    color: #FFF;
    padding: 20px 45px;
}

.stars {
    margin: 20px 0 10px;
}

.stars i {
    font-size: 20px;
    vertical-align: middle;
}

.testimonial p {
    margin: 25px 0 20px;
    line-height: normal;
}

.author p {
    margin: 0;
}

.author-name-des {
    margin-top: 25px;
    width: 100px;
}

#testimonial-slider.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
}

/**********************************************************************************
**************************** PRICING **********************************************
***********************************************************************************/
.pricing-table {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    border-radius: 5px;
    transition: all .4s linear;
}

.pricing-table:hover {
    background: #5C9320;
    color: #FFF;
}

.pricing-table .type {
    border-bottom: solid 1px #E0E0E0;
}

.pricing-table .type h4 {
    font-size: 24px;
    color: #5C9320;
    margin-bottom: 20px;
    transition: all .4s linear;
}

.pricing-table .price {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E0E0E0;
}

.pricing-table .price h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 100;
    position: relative;
    margin: 0 0 0 25px;
}

.pricing-table .price span {
    font-family: 'Raleway', sans-serif;
}

span.dollar {
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 5px;
    left: -20px;
}

span.month {
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    bottom: -13px;
}

.pricing-table .price p {
    line-height: normal;
    font-weight: 300;
    margin: 0;
}

ul.package {
    list-style: none;
    padding: 20px 0;
}

ul.package li {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}

ul.package li i {
    padding-right: 20px;
}

.pricing-table:hover h4 {
    color: #FFF;
}

.pricing-table .btn {
    margin: 0;
    width: 100%;
}

.pricing-table:hover .btn-green {
    background-color: #FFF;
    color: #212226;
}

.pricing-table .btn:hover {
    background-color: #212226;
    color: #FFF;
}

.pricing-table.black {
    background: #212226;
    color: #FFF;
}

.pricing-table.black .type h4 {
    color: #FFF;
}

.pricing-table.black:hover {
    background: #5C9320;
}

/**********************************************************************************
**************************** STATS ************************************************
***********************************************************************************/
#stats {
    background: url('../img/stats/stats-bg.jpg') no-repeat fixed center;
    background-size: cover;
}

#stats .vertical-heading h2 {
    color: #FFF;
}

.stats-item {
    padding: 25px 50px;
    background: rgba(61, 68, 68, .6);
    transition: all .4s linear;
    border-radius: 5px;
}

.stats-item i {
    font-size: 42px;
    color: #5C9320;
    margin: 0 0 5px 0;
    transition: all .4s linear;
}

.stats-item h3 {
    color: #FFF;
    font-size: 32px;
    margin: 5px 0;
}

.stats-item p {
    color: #FFF;
    margin: 0;
}

.stats-item:hover {
    background: #5C9320;
}

.stats-item:hover i {
    color: #212226;
    transform: translateY(-20px);
}

/**********************************************************************************
**************************** BLOGS ************************************************
***********************************************************************************/
#blog {
    background: #F4F4F4;
}

.blog-post {
    background-color: #FFF;
    padding: 25px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.blog-post p {
    font-weight: 300;
    font-size: 12.5px;
}

.about-blog {
    margin: 25px 0;
}

.blog-post a {
    display: inline-block;
    text-transform: uppercase;
    margin: 15px 0 25px;
}

.blog-post a {
    color: #5C9326;
    font-size: 12px;
    transition: all .4s linear;
}

.blog-post a:hover {
    color: #212226;
}

.post-meta {
    border-top: 1px solid #E0E0E0;
    padding-top: 10px;
}

.post-meta p {
    font-size: 10.5px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

/**********************************************************************************
**************************** CONTACT **********************************************
***********************************************************************************/
#contact ul {
    list-style: none;
    padding: 0;
}

.office h4 {
    margin-bottom: 20px;
}

.office-details {
    font-family: "Montserrat", sans-serif;
}

.office-details li {
    margin: 15px 0;
    font-weight: 400;
    display: flex;
}

.office-details li span {
    display: inline;
    font-weight: 400;
}

.office-details i {
    font-size: 20px;
    min-width: 35px;
}

.contact-left ul.social-list li a {
    color: #212226;
    border: solid 1px #212226;
    vertical-align: middle;
    text-align: center;
}

.contact-left ul.social-list li a:hover {
    color: #FFF;
    border: solid 1px #FFF;
}

.contact-right {
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding: 25px 25px 35px;
    font-family: "Montserrat", sans-serif;
}

.contact-right h4 {
    font-size: 24px;
}

.contact-right p {
    margin-bottom: 25px;
}

.form-group input {
    font-size: 12px;
    padding: 0 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group textarea {
    min-height: 150px;
}

/**********************************************************************************
**************************** FOOTER ***********************************************
***********************************************************************************/
footer {
    background: #212226;
    padding: 25px 0;
}

footer p {
    color: #FFF;
    margin: 0;
}

/**********************************************************************************
**************************** BUTTONS **********************************************
***********************************************************************************/
.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 46px;
    transition: all .5s;
}

.btn-green {
    color: #FFF;
    background: #5C9320;
}

.btn-white {
    color: #212226;
    background: #FFF;
}

.btn-white:hover,
.btn-white:focus,
.btn-green:hover,
.btn-green:focus {
    color: #FFF;
    background: #212226;
}

.btn-general.btn-gradient {
    color: #FFF;
    background-size: 200%;
    background-image: linear-gradient(to right, #5C9320 0%, #63C600 51%, #5C9320 100%);
}

.btn-general.btn-gradient:hover {
    background-position: right;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    font-size: 25px;
    padding: 3px 15px;
    z-index: 99999;
}

/***************************************************************************************
************************************Pre-Loader******************************************
***************************************************************************************/
.loader {
    /*
    width:100%;
    height:100%;
*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8888;

    background-color: #63C600;
    background: linear-gradient(to right, #5C9320 2%, #63C600 82%);
}

.loader-inner {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-blocks {
    width: 60px;
    height: 60px;
}

.loader-blocks span {
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    opacity: 0;
    display: block;
    position: absolute;
    animation: load 4.6s ease-in-out infinite;
}

.loader-blocks span.block-1 {
    top: 0;
    left: 0;
    animation-delay: 1.07s;
}

.loader-blocks span.block-2 {
    top: 0;
    left: 16px;
    animation-delay: 0.97s;
}

.loader-blocks span.block-3 {
    top: 0;
    left: 32px;
    animation-delay: 0.87s;
}

.loader-blocks span.block-4 {
    top: 0;
    left: 48px;
    animation-delay: 0.77s;
}

.loader-blocks span.block-5 {
    top: 16px;
    left: 0;
    animation-delay: 0.67s;
}

.loader-blocks span.block-6 {
    top: 16px;
    left: 16px;
    animation-delay: 0.57s;
}

.loader-blocks span.block-7 {
    top: 16px;
    left: 32px;
    animation-delay: 0.47s;
}

.loader-blocks span.block-8 {
    top: 16px;
    left: 48px;
    animation-delay: 0.37s;
}

.loader-blocks span.block-9 {
    top: 32px;
    left: 0;
    animation-delay: 0.27s;
}

.loader-blocks span.block-10 {
    top: 32px;
    left: 16px;
    animation-delay: 0.17s;
}

.loader-blocks span.block-11 {
    top: 32px;
    left: 32px;
    animation-delay: 0.07s;
}

.loader-blocks span.block-12 {
    top: 32px;
    left: 48px;
    animation-delay: -0.07s;
}

.loader-blocks span.block-13 {
    top: 48px;
    left: 0;
    animation-delay: -0.17s;
}

.loader-blocks span.block-14 {
    top: 48px;
    left: 16px;
    animation-delay: -0.27s;
}

.loader-blocks span.block-15 {
    top: 48px;
    left: 32px;
    animation-delay: -0.37s;
}

.loader-blocks span.block-16 {
    top: 48px;
    left: 48px;
    animation-delay: -0.47s;
}

@keyframes load {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    15% {
        opacity: 0;
        transform: translateY(-100px);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    60% {
        opacity: 1;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translateY(-100px);
    }

    85% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}
